.bundle
.sass-cache
.DS_Store
**/.DS_Store
*.sqlite3
log/*.log*
tmp
coverage.data
coverage/*
coverage/**/*
spec/reports/*
spec/reports/**/*
db/*.sqlite3*
db/backups
public/system
**/*(Autosaved)*
public/stylesheets/compiled
solr/data
*~
*.swp

