html { background-color: #e0e0e0; }

body { font-size: 100%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color: #333333; }

a { color: #666666; text-decoration: none; }
a:hover { text-decoration: underline; }

#header, #editor, #content, #footer { width: 960px; margin: 0 auto; background: #eeeeee; padding: 0 2em; z-index: 0; position: relative; font-size: 1em; }

#header { background: white; }
#header h1 { font-weight: bold; font-size: 1.5em; }
#header address.watermark { position: absolute; font-weight: bold; right: 3em; top: 0; font-size: 0.75em; color: #cccccc; }
#header address.watermark a { color: #cccccc; font-weight: bold; line-height: 2em; }
#header address.watermark a:hover { background: transparent; color: #aaaaaa; }

.logo { height: 100px; width: 130px; background-image: url("/images/eficode_logo.png"); background-size: 130px 100px; padding: 0; background-repeat: no-repeat; opacity: 0.3; margin-left: auto; margin-right: auto; padding-top: 10px; background-position: center; }

.transparent { width: 960px; }

#editor { padding-top: 1em; background: #eeeeee; border-bottom: 1px solid silver; }

#content { padding-top: 1em; padding-bottom: 2em; min-height: 500px; }

#wrapper strong { font-weight: bold; }
#wrapper em { font-style: italic; }
#wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5, #wrapper h6 { color: #4e4e4e; }
#wrapper h1 { font-size: 2em; font-weight: bold; margin-bottom: 0.75em; padding: 0.25em 0; border-bottom: 1px solid silver; line-height: 1.2; }
#wrapper h2 { font-weight: bold; font-size: 1.5em; margin: 0 0 0.2em; }
#wrapper h3 { font-weight: bold; font-size: 1.25em; margin: 0.25em 0; }
#wrapper h4, #wrapper h5, #wrapper h6 { font-weight: bold; margin-top: 0.5em; }
#wrapper code, #wrapper pre, #wrapper textarea { font-family: Monaco, Deja Vu Sans Mono, Inconsolata, Consolas, monospace; }
#wrapper pre { margin: 0.5em; padding: 0.5em; }
#wrapper form.login { margin-left: auto; margin-right: auto; width: 480px; }
#wrapper form p { margin-top: 1em; position: relative; }
#wrapper form p.checkbox label { margin-top: 0 !important; }
#wrapper form .close { position: absolute; top: 0; right: 0; }
#wrapper form input.text, #wrapper form textarea, #wrapper form select { padding: 0.2em 0.4em; color: #4e4e4e; border-radius: 2px; border: none; width: 400px; margin-left: auto; margin-right: auto; }
#wrapper form input.text { height: 1.4em; }
#wrapper form input.title { width: 25.6em; }
#wrapper form label { float: left; display: block; margin-top: 0.5em; width: 8em; margin-right: 0.75em; }
#wrapper form .with_errors label { background: red; color: white; position: relative; top: -0.7em; }
#wrapper form .with_errors.required label { position: static; margin-right: 0.25em; padding: 0 0.2em; }
#wrapper form .with_errors input, #wrapper form .with_errors textarea, #wrapper form .with_errors select { border: 2px solid #ff2222; background: #ffeeee; color: #222222; }
#wrapper form .required label { float: none; display: block; width: auto; position: relative; font-weight: bold; margin-top: 1em; text-indent: -0.65em; }
#wrapper form .required label:before { content: "* "; color: #666666; }
#wrapper form .required input.text { font-size: 24px; font-weight: bold; }
#wrapper form .normal { margin-top: 2em; }
#wrapper form h2.notifier label { float: none; width: auto; margin-right: 0; }
#wrapper form h2.notifier label .warning { font-size: 0.5em; font-weight: normal; color: #999999; }
#wrapper form fieldset { padding-bottom: 1em; margin-left: 1.35em; border-bottom: 1px solid silver; margin-bottom: 1em; }
#wrapper form fieldset h3 { margin-top: 1em; margin-bottom: 0; }
#wrapper form fieldset p.normal { margin-top: 1em; }
#wrapper form fieldset p label { width: 6.7em; }
#wrapper form p.submit { margin-top: 1em; }
#wrapper form p.submit span { display: block; float: left; line-height: 26px; margin-left: 10px; }
#wrapper form p.submit:after { display: block; clear: both; float: none; content: "."; text-indent: -9999em; text-align: left; }
#wrapper #new { width: 100%; text-align: right; }
#wrapper #projects { margin: 1em 0 2em; border-top: 1px solid silver; }
#wrapper #projects.done li { background-color: #dddddd !important; }
#wrapper #projects.done li a { color: #aaaaaa !important; }
#wrapper #projects.todo li { background-color: white; }
#wrapper #projects li { position: relative; border-bottom: 1px solid silver; }
#wrapper #projects li.odd { background: #e6e6e6; }
#wrapper #projects li div { padding: 0.25em; display: block; }
#wrapper #projects li .item { font-size: 2em; line-height: 1.2em; font-weight: bold; }
#wrapper #projects li span { font-size: 0.6em; margin-top: 6px; float: right; }
#wrapper #projects li .meta { position: absolute; right: 0.6em; top: 1.5em; font-size: 0.8em; color: #999999; text-align: right; }

.date { height: 24px; line-height: 26px; float: left; font-family: helvetica, arial, freesans, clean, sans-serif; font-size: 18px; width: 90px; }

.button { height: 24px; line-height: 26px; text-align: center; display: block; float: left; padding: 0 20px; margin-left: 5px; font-family: helvetica, arial, freesans, clean, sans-serif; font-weight: bold; font-size: 12px; color: #333; font-weight: normal; text-shadow: 1px 1px 0 white; white-space: nowrap; border: none; overflow: visible; background: #dddddd; /*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1'); */ background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#e1e1e1)); background: -moz-linear-gradient(-90deg, white, #e1e1e1); border-bottom: 1px solid #ebebeb; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); cursor: pointer; -webkit-font-smoothing: subpixel-antialiased !important; }
.button:hover { color: white; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); border-bottom-color: #0770a0; background: #0770a0; text-decoration: none; /* filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0'); background:-webkit-gradient(linear,0% 0,0% 100%,from(#0ca6dd),to(#0770a0)); background:-moz-linear-gradient(-90deg,#0ca6dd,#0770a0); */ }

.delete:hover { color: white; border-bottom-color: #DC143C; background: #DC143C; text-decoration: none; }

#footer { padding: 1.5em 2.5em; border-top: 1px solid #cccccc; font-size: 0.8em; width: 50em !important; color: #666666; text-align: right; }
#footer strong { font-weight: bold; }
