
%ul#projects
  - @items.each do |item|
    %li.even.success
      .line-content
        %input.checkbox{:type => "checkbox"}
        = link_to item.title, edit_item_path(item), :remote => true

= link_to 'New Item', new_item_path, :remote => true
