
#new= link_to t('items.actions.new'), new_item_path, :remote => true

- if @todo.blank?
  %h3= t('items.show.no_open_tasks')
- else
  %ul#projects.todo
    = render :partial => 'item', :collection => @todo

%ul#projects.done
  - unless @done.blank?
    = render :partial => 'item', :collection => @done